# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Xcode Setup
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.4'

    - name: Build
      run: |
        cd WorldSide
        xcodebuild build -project WorldSide.xcodeproj -scheme WorldSide clean build -sdk iphoneos CODE_SIGNING_ALLOWED=No

    - name: Run tests
      run: |
        cd WorldSide
        xcodebuild test -project WorldSide.xcodeproj -scheme WorldSide clean build -sdk iphoneos -destination "platform=iOS Simulator,name=iPhone 16 Pro" CODE_SIGNING_ALLOWED=No

        
